body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 20px;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

select, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

#result {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

#result .neutral {
    color: blue;
}

#result .weak {
    color: red;
}

#result .strong {
    color: green;
}

#history {
    margin-top: 30px;
    font-size: 18px;
}

#history p {
    margin: 5px 0;
    padding: 8px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#history p strong {
    font-weight: bold;
}
